
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$font-sans: 'Kumbh Sans', sans-serif;

@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: calc($sizeValue/10) * 1rem;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}
h1, h1 a {
   color: black;
   font-weight: 700;
   text-decoration: none;
   text-transform: uppercase;
   @include fontSize(25);
}



body {
  font-family: $font-sans;
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  .header-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .x-cross {
      position: relative;

      .x-checkbox {
        display: none;
      }
      .x-box {
        width: 45px;
        height: 45px;
        border: 1px solid black;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        @include fontSize(25);
        cursor: pointer;
      }

      .x-checkbox:checked + .x-box {
        content: '';
      }
    }

  }

  .main-nav {
    display: none;

    .menu-list {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;
      @include fontSize(17);
      font-weight: bold;
      text-transform: uppercase;
     li {
      a {
      color: black;
      text-decoration: none;
      }
      a::after {
        width: fit-content;
        display: block;
        margin: 3px auto 0;
        filter: grayscale(1) contrast(14);
      }
      }
      li:nth-child(1) {
        a::after {
        content: url('../images/icon1.svg');


      }
      }
      li:nth-child(2) {
        a::after {
        content: url('../images/icon2.svg');

      }
      }
      li:nth-child(3) {
        a::after {
        content: url('../images/icon3.svg');

      }
      }

      


    }
  }

  .hamburger {
    display: block;
    flex-direction: column;
    gap: 0.25rem;
    background: transparent;
    border: none;
    cursor: pointer;

    span {
      display: block;
      width: 32px;
      height: 4px;
      background: black;
    }
  }
}

/* Mobile menu overlay */
.mobile-menu {
  display: none;
  position: fixed;
  inset: 0;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
  }
}
.show {
    display: block;
  }

/* Media queries */
@media (min-width: 760px) {
  .header .main-nav {
    display: flex;
  }

  .header .hamburger,
  .mobile-menu {
    display: none;
  }

}
